//section1

.great_entertainment1 {
  margin-top: 1rem;
}

//section2
.section2 {
  margin-top: 3rem;
  .chef_image {
    text-align: center;
  }
}
//section3
.section3 {
  margin-top: 4rem;
  .organic_food {
    margin-top: 2rem;
    .organic-food-para {
      opacity: 0.1;
    }
  }
}
@media only screen and (max-width: 767px) {
  .great_entertainment {
    margin-top: 2rem;
  }

  .great_entertainment1 {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .section1 {
    .img-fluid {
      height: 100%;
    }
  }
}
